<nav>
    <div class="navbar">
      <span class="app-name" routerLink="">CodeBin</span>
      <div class="buttons">
        

        @if(isLoggedIn()){
          <button routerLink="/create" routerLinkActive="active" class="login-button">Create Bin</button> 
          <button routerLink="/snippets" routerLinkActive="active" class="login-button">My Snippets</button>
          <button (click)="logout()" class="signup-button">Log Out</button>
        }
        @else{
          <button routerLink="/login" routerLinkActive="active" class="login-button">Login</button>
          <button routerLink="/signup" routerLinkActive="active" class="signup-button">Sign Up</button>
        }

        
      </div>
    </div>
  </nav>
  